{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

<div class="w-full">
    <h1 class="pb-2 my-10 text-4xl border-b border-gray-400">Postagens ✅</h1>
    {#
    {% set test = 'variavel template twig' %}

    {{ test }}
    #}
    <div class="w-full">
    {% for post in posts %}
        <div class="block pb-2 mb-10 border-b border-gray-400">
            <h2 class="mb-5 text-2xl font-bold">
                {{ post.title }}
            </h2>

            <a class="font-bold text-blue-600 hover:underline" href="{{ path('app_show', {slug: post.slug}) }}">
                Ler agora...
            </a>
        </div>
    {% else %}
        <h3>Nenhuma postagem encontrada...</h3>
    {% endfor %}
    </div>
</div>
{% endblock %}
