<div class="w-4/5 pt-20 m-auto">
    <form 
        action="/"
        method="POST"
        enctype="multipart/form-data">

        <input 
            type="text"
            name="title"
            placeholder="Review Title..."
            class="block w-full h-20 text-6xl bg-transparent border-b-2 outline-none">

        <textarea 
            name="description"
            placeholder="Description..."
            class="block w-full py-20 text-xl bg-transparent border-b-2 outline-none h-60"></textarea>

        <div class="py-8 bg-grey-lighter">
            <label class="flex flex-col items-center px-2 py-3 tracking-wide uppercase border shadow-lg cursor-pointer w-44 bg-white-rounded-lg border-blue">
                <span class="mt-2 text-base leading-normal">
                    Select a image
                </span>
                <input 
                    type="file"
                    name="image"
                    class="hidden">
            </label>
        </div>

        <button    
            type="submit"
            class="px-8 py-4 text-lg font-extrabold text-gray-100 uppercase bg-blue-500 mt-15 rounded-3xl">
            Submit Post
        </button>
    </form>
</div>